/******RESPONSIVE******/

* {
  box-sizing: border-box;
}

html {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}

body {
  background-color: #f5e6ca;
  padding: 0px;
  margin: 0px;
  font-family: "Kalam", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container>* {
  margin: 1%;
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b2895074;
  padding: 0px 0px;
  color: #000000;
  border-radius: 15px;
  flex: 1 1 100%;
  position: relative;
  text-align: center;
  font-size: 1.5em;
}

aside h1,
h6 {
  margin: 0;
  padding: 0;
}

br {
  height: 0;
}

/******TAGEK******/

h1 {
  align-content: center;
}

h2 {
  padding: 0 8px;
  text-shadow: black 1px 0 10px;
}

h4 {
  margin-bottom: 0px;
}

p {
  padding: 0 8px;
  margin-top: 0;
  margin-bottom: 0;
}


article {
  background-color: #e9c46a;
  padding: 0px 0px;
  color: #000000;
  text-align: justify;
  border-radius: 15px;
  flex: 1 1 100%;
  position: relative;
  padding-bottom: 20px;
}

label {
  margin: 0px 0px 0px 0px;
  padding: 0;
}

input {
  width: 20%;
  padding: 3px;
  margin: 0px 0px 0px 0px;
}

/******ELKÉSZÍTÉS GOMB******/
article a {
  float: right;
  margin-bottom: 10px;
  padding-right: 8px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/******HEADER******/

header.container {
  padding: 2px;
  margin: 0px;
  background-color: #b28950;
  text-align: center;
  font-size: 1.5em;
  color: #000000;
  justify-content: space-evenly;
}


/******NAV******/

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation {
  border-radius: 15px;
  background-color: #4a4a4a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}


.nav_container li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Kalam', cursive;
  font-size: 1.2em;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav_container li a:hover,
.nav_container li a.active {
  background-color: #88683b; /* Highlight color */
  color: #fff;
}

/*====FOOTER====*/

footer {
  background-color: #b28950;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 15px;
  width: 100%;
  margin-top: auto;
}

footer.container {
  justify-content: space-between;
}


/*====OSZTALYOK====*/

img.szoveg_elotte {
  display: block;
  width: auto;
  height: 30vw;
  margin: 2px 0 0 auto;
}

.etelek {
  position: relative;
  display: inline-block;
  width: 100%;
}

.elkeszites {
  align-self: end;
}

h2.recept {
  margin: 0px;
}

.kep_mogotte {
  
  position: absolute;
  color: white;
  padding: 5px 10px;
  font-size: 1.5em;
}

p.kep_mogott {
  position: absolute;
  padding-top: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

h4 {
  padding: 3px;
  text-indent: 1.1em;
  margin-top: 0;
}

div.ingredients {
  text-align: center;
  margin: 0;
  padding: 0 8px;
}

ul.ingredients {
  display: inline-block;
  text-align: left;
  padding: 0;
  list-style-type: none;
}

ol.ingredients {
  display: inline-block;
  text-align: left;
}

aside.alkohol,
.mentes {
  flex-basis: 98%;
}

/******CHECKBOX******/

.rounded-checkbox {
  background-color: transparent;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 5px;
}

.rounded-checkbox:checked {
  width: 15px;
  height: 15px;
  accent-color: black;
  appearance: auto;
  clip-path: circle(50% at 50% 50%);
}

/*====FELUGRÓ-ABLAK====*/
.felugro .fedes {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.felugro .elkeszites {
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #efd696;
  width: 80%;
  max-width: 700px;
  height: auto;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
  max-height: 80vh;
}

.felugro .elkeszites h2 {
  color: white;
}

.felugro .bezaras {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.felugro.active .fedes {
  display: block;
}

.felugro.active .elkeszites {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

/*====ADAGOLÁS====*/

span.adag {
  font-size: 30px;
  color: rgb(117, 0, 0);
  font-weight: bold;
  text-shadow: white 1px 0 10px;
}

button.pluszbutton, button.minuszbutton {
  background-color: transparent;
  border:none;
  font-size:xx-large;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}



/*====GALLERY====*/

section {
  margin-top: 0px;
}

.slider {
  width: 80%;
  min-width: 400px;
  margin: 15px auto;
  cursor: pointer;
}

.slick-slide {
  margin: 0px 5px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: #a9a18e;
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .2;
}

.slick-current {
  opacity: 1;
}

.order_hatra {
  order: 100;
}

.mentes {
  order: 99;
}

/*====FORM====*/

.form_container {
  background-color: #e9c46a;
  padding: 20px;
  margin: 20px auto;
  border-radius: 15px;
  font-size: 1em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  flex-basis: 98%;
}

label.form_label,p.form_label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
  color: #333;
  padding: 0;
}

label.mentesek_indent{
  padding-left: 20px;
}

span#formazas_as_label {
  font-weight: bold;
  color: #333;
}

input.gallery {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9em;
  background-color: #fff;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9em;
  background-color: #fff;
}

input#husos_igen, input#husos_nem {
  display: inline-block;
  width: auto;
  margin-right: 10px;
}

input#glutenmentes,
input#laktozmentes,input#tojasmentes {
  display: inline-block;
  width: auto;
  margin-right: 10px;
}

.radio_group {
  margin: 10px 0;
}

button[type="submit"] {
  display: block;
  width: 100%;
  background-color: #b28950;
  color: white;
  font-size: 1em;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #a77c48;
}

/*====VALIDÁLÁS====*/
label.error {
  color: red;
}
input.error{
  background-color: #ff00003a;
}


/******TABLET******/

@media all and (min-width: 600px) {
  aside {
    flex-basis: 98%;
  }

  aside.alkohol,
  .mentes {
    flex-basis: 98%;
  }

  nav {
    flex-basis: 98%;
  }

  .order_hatra {
    order: 100
  }

  .mentes {
    order: 99
  }

  .recept,
  article {
    flex-basis: 48%;
  }

  img.szoveg_elotte {
    height: 20vw;
  }
  .form_container {
    flex-basis: 98%;
  }
}


/******SZÁMÍTÓGÉP******/

@media all and (min-width: 768px) {
  aside {
    flex-basis: 98%;
  }

  aside.alkohol,
  .mentes {
    flex-basis: 48%;
  }

  .order_hatra {
    order: 0
  }

  .mentes {
    order: 0
  }

  .recept,
  article {
    flex-basis: 23%;

  }

  nav {
    flex-basis: 98%;
  }

  img.szoveg_elotte {
    height: 10vw;
  }

  p.kep_mogott {
    position: absolute;
    padding-top: 7vw;
  }

  .form_container {
    flex-basis: 50%;
  }
}